/* .container { */
/*   width: 100vw; */
/*   height: 100vh; */
/*   color: rgba(255, 255, 255, 0.8); */
/* } */

/* .header { */
/*   background-color: purple; */
/*   position: fixed; */
/*   left: 0; */
/*   right: 0; */
/*   top: 0; */
/* } */

/* ul.stats { */
/*   display: flex; */
/*   flex-flow: row nowrap; */
/* } */

/* li.status { */
/*   display: inline; */
/*   width: 30vw; */
/* } */

/* .chat { */
/*   background-color: red; */
/* } */

.history > ul {
  margin-bottom: 16em;
  margin-top: 4em;
}

/* .received { */
/*   display: flex; */
/*   flex-direction: row; */
/*   margin-top: 1em; */
/*   margin-right: 3em; */
/*   margin-bottom: 1em; */
/* } */

.sent {
  display: flex;
  flex-direction: row-reverse;
}

/* .choices { */
/*   background-color: blue; */
/*   position: fixed; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/* } */
